/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #f2faff; /* Track color */
  border-radius: 8px;
}

/* Scrollbar itself */
::-webkit-scrollbar {
  width: 7px; /* Scrollbar width */
  background: #f2faff;
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: rgba(var(--color-gray-500-rgb), 0.35); /* Thumb color */
  border-radius: 6px;
  border: 2px solid #f2faff;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
  @media (max-width: 991px) {
    padding: 0 0.5rem;
  }
}

main {
  flex-grow: 1;
  margin-top: 88px;
  /* width: 100dvw; */
  overflow: hidden;
}

section {
  padding-block: 3rem;
  margin-bottom: 3rem;
}
