html[dir="rtl"] {
  .tab-pane {
    direction: rtl;
  }

  .material-icons.mirror,
  .material-icons-outlined.mirror {
    transform: rotateY(180deg);
  }

  .flatpickr-calendar.animate.open {
    direction: rtl !important;
    translate: 50% -50%;
    inset-inline-end: 0 !important;
    inset-inline-start: 50% !important;
  }
}
